* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Verdana, sans-serif;
}

body > div {
    
}

.section-1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.section-2 {
    background-color: white;
}

.section-3 {
    background-color: #E5E7EB;
}

.section-4 {
    background-color: white;
}

footer {
    background-color: #1F2937;
}

.section-1 > div {
    margin-left: 200px;
    margin-right: 200px;
}

.header {
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    margin: 150px 0px;
    gap: 45px;
}

.description > h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.description > p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    margin: 20px 0;
}

button#call-to-action {
    border: 3px white;
}

img {
    min-width: 445px;
    height: auto;
    flex: none;
    object-fit: contain;
}